@font-face {
    font-family: Bai Jamjuree SemiBold;
    src: url("../font/BaiJamjuree-SemiBold.ttf");
}

@font-face {
    font-family: Bai Jamjuree;
    src: url("../font/BaiJamjuree-Regular.ttf");
}

@font-face {
    font-family: Bai Jamjuree Medium;
    src: url("../font/BaiJamjuree-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

